{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="/src/form.css">
{% endblock %}
{% block title %}Form Page{% endblock %}

{% block content %}
<div>

    {% if error %}
    <p style="color: crimson;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('form') }}" method="post">
        <h1>MEASUREMENTS</h1>
        <input type="number" step="any" id="volume" name="volume" placeholder="Enter Volume" required> <br>
        <input type="number" step="any" id="density" name="density" placeholder="Enter density" required> <br>
        <input type="number" step="any" id="temperature" name="temperature" placeholder="Enter Temperature" required> <br>
        <!-- <input type="number" id="vcf", name="vcf" placeholder="VCF" required value="{{ vcf }}"> <br> -->
        <div class="vcfval">
            <label for="vf">VCF: </label>
            <div class="vf" id="vf">{{ vcf }}</div>
        </div><br>
        <button type="submit">Calculate</button><br><br>
        
        <div class="result">
            <label for="Tonnage">Tonnage: </label>
            <div id="Tonnage">{{ Tonnage }}</div>
        </div>
        <!-- <input type="number" id="Tonnage", name="Tonnage" placeholder="Tonnage" required value="{{ Tonnage }}">  -->
    </form>
</div>
{% endblock %}