{% extends "index.html" %} {% block head %}
<link rel="stylesheet" href="/src/form.css" />
{% endblock %} {% block title %}Form Page{% endblock %} {% block content %}
<div>
  {% if error %}
  <p style="color: crimson">{{ error }}</p>
  {% endif %}
  <form action="{{ url_for('form') }}" method="post" id="measures">
    <h1>MEASUREMENTS</h1>
    <input
      type="number"
      step="any"
      min="0"
      id="volume"
      name="volume"
      placeholder="Enter Volume"
      required
    />
    <br />
    <input
      type="number"
      step="any"
      min="0"
      id="density"
      name="density"
      placeholder="Enter density"
      required
    />
    <br />
    <input
      type="number"
      step="any"
      min="0"
      id="temperature"
      name="temperature"
      placeholder="Enter Temperature"
      required
    />
    <br />
    <!-- <input type="number" id="vcf", name="vcf" placeholder="VCF" required value="{{ vcf }}"> <br> -->
    <div class="vcfval">
      <label for="vf">VCF: </label>
      <div class="vf" id="vf">{{ vcf }}</div>
    </div>
    <br />
    <button type="submit">Calculate</button><br /><br />
  </form>

  <div class="result">
    <label for="Tonnage">Tonnage: </label>
    <div id="Tonnage">{{ Tonnage }}</div>
  </div>
  <br />
  <h3>Summary</h3>
  <p>{{ summary }}</p>
  <br />
  <p>Search past calculations</p>
  <div id="search-region">
    <form id="search-area" action="{{ url_for('search') }}">
      <div id="search-by-area">
        <select name="search-by" id="search-by" required>
          <option value="" selected >Search by</option>
          <option value="volume">volume</option>
          <option value="density">density</option>
          <option value="temperature">temperature</option>
          <option value="vcf">vcf</option>
          <option value="Tonnage">Tonnage</option>
        </select>
        <input
          type="number"
          step="any"
          min="0"
          id="search-value"
          name="search-value"
          placeholder="Enter value"
          required
        />
      </div>
      <select name="sort-by" id="sort-by" required>
        <option value="" selected disabled>Sort by</option>
        <option value="volume">volume</option>
        <option value="density">density</option>
        <option value="temperature">temperature</option>
        <option value="vcf">vcf</option>
        <option value="Tonnage">Tonnage</option>
      </select>
      <button type="submit">Search</button>
    </form>
    <div id="search-results">
      {% if search_values %}
      <h2>Search Results</h2>
      <table>
        <thead>
          <tr>
            <th>Volume</th>
            <th>Density</th>
            <th>Temperature</th>
            <th>VCF</th>
            <th>Tonnage</th>
          </tr>
        </thead>
        <tbody>
          {% for result in search_values %}
          <tr>
            <td>{{ result.volume|round(0) }}</td>
            <td>{{ result.density|round(0) }}</td>
            <td>{{ result.temperature|round(0) }}</td>
            <td>{{ result.vcf|round(4) }}</td>
            <td>{{ result.Tonnage|round(4) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p style="color: crimson">{{ search_error }}</p>
      {% endif %}
      <!-- <ul>
        {% for result in search_values %}
        <li>{{ result.density }} </li>
        {% endfor %}
      </ul> -->
      
    </div>
  </div>
  <!-- <input type="number" id="Tonnage", name="Tonnage" placeholder="Tonnage" required value="{{ Tonnage }}">  -->
</div>
{% endblock %}
