:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}


body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
    border:  2px solid #646cff;
}

#measures input{
    margin-left: 34%;
}

#measures > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  margin-left: 38%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#measures > button:hover {
  border-color: #646cff;
}
#measures > button:focus,
#measures > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.result {
  display: flex;
  max-width:max-content;
}
#Tonnage {
  background-color:#646cff; 
  padding: 0.2em 0.5em;
  margin-left: 10px;
}
.vf{
  padding: 0.2em 0.5em;
  background-color: #ffffff;
  padding-bottom: 5px;
  margin-left: 10px;
  width: 130px;
  height: 15px;
  border-radius: 2px;
  
  margin-top: 5px;
  color: #1a1a1a;
}
.vcfval {
  display: flex;
  max-width: max-content;
  align-items: center;
  margin-left: 23.5%;
}

#search-by-area {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-left: ;
}

#search-area {
  display: flex;
  max-width: fit-content;
 
}
#search-area > button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  max-width: fit-content;
  margin-left: 2px;
  padding: 0.4em 1em;
  font-size: 0.8em;
  font-weight:300;
  max-height: fit-content;
}
#sort-by {
  max-height: fit-content;
}

#search-area > button:hover {
  border-color: #646cff;
}
#search-area > button:focus,
#search-area > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#search-region {
  display: flex;
  max-width: fit-content;
  margin-top: ;
}
#search-results {
  border: 2px solid #07f7cb;
  margin-left: 10px;
}